body{
    background-image: url(../images/Bois.png);
}

.page{
    margin-top: 100px;    
    margin-left: 100px;
    margin-right: 100px;
    background-color: brown;
    height: 300px;
    border-radius: 16px;
    box-shadow: 0 8px 50px rgba(100, 0, 0, 0.5);
    
}

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

#titre a{
    text-decoration: none;
    color: rgb(200, 0, 0);
    font-family: "Pacifico", cursive;
    font-size: 700;
    font-style: normal;
}
#titre a:hover{
    color: red;
}

#menu a:hover {
  color: #fff;
}

#menu a {
  color: black();
  text-decoration: none;
  margin-left: 24px;
}


#test{
    color: red;
}

#entete {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 40px;
    background-color: white;
}