@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
    background-image: url("../images/bois.png");
    background-size: cover;
    margin: 0;
    font-family: Arial, sans-serif;
}

.page {
    margin: 100px;
    background-image: url("../images/dark_wood.png");
    height: 600px;
    border-radius: 16px;
    box-shadow: 0 8px 50px rgba(100, 0, 0, 0.5);    
}

#header {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 40px;
    background-color: #F5D7B5;
}

#title a {
    text-decoration: none;
    color: rgb(200, 0, 0);
    font-family: "Pacifico", cursive;
    font-weight: 700;
    font-style: normal;
    font-size: 1.8rem;
    transition: color 0.3s ease;
}

#title a:hover {
    color: red;
}

#nav-menu a {
    color: black;
    text-decoration: none;
    margin-left: 24px;
    transition: color 0.3s ease;
}

#nav-menu a:hover {
    color: #C82909;
}

.menu{
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    
}

.menu h1{
    font-size: 1.5rm;
    text-shadow: 2px 8px 50px rgb(255, 0, 0);
    
}

.mP {
    background-color: #C82909;
    height: 100px;
    width: 75%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.mP #entete {
    font-size: 120%;
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}
